.copyright {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  color: white;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(../imgs/gym.jpg) no-repeat center center fixed;  
  .site-content {
    flex: 1;
  }
}

.home-container {
  font-size: 14px;  
  padding-top: 250px;
  text-align: center;  
}

@media only screen and (max-width: 600px) {
  .home-container {
    padding-top: 200px;
  }
}

.intro-title {
	font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.03em;
	margin: 0px 0px 20px 0px;
}

.intro-text {
	font-size: 25px;
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 200;
}

@media only screen and (max-width: 767px) {
  .intro-title {
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
    letter-spacing: 0.03em;
    margin: 0px 0px 20px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .intro-text {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
  }
}