.mapcontainer {
  top: 25px;
  right: 380px;
  bottom: 0;
  position: fixed;
  left: 0;
}

.mapcontainer-desktop {
  top: 25px;
  right: 380px;
  bottom: 0;
  position: fixed;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .mapcontainer {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .mapcontainer-mobile {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .mapcontainer-desktop {
    display: none !important;
  }
}

.gm-style-mtc {
  display: none;
}

.gm-fullscreen-control {
  display: none;
}

.search-box {
  display: none;
}

.alert-warning {
  margin-top: 250px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}