<!DOCTYPE html>
<html>

<head>
  <title>Spotter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/styles/build/main.css">
  <link rel="icon" href="/styles/imgs/spotter-icon.png" type="image/png">
</head>

<body class="site">
  <!-- <div class="animationload">
    <div class="loader">&nbsp;</div>
  </div>
  <script>
    $(window).ready(function() {
      setTimeout(function() {
        $('.animationload').hide();
      }, 3000);
    });
  </script> -->
  <% include partials/_navbar.ejs %>
  <div class="site-content">
    <div class="container">
      <div class="site-branding">
        <h1 class="site-title title-image"><a href="/" rel="home"><img src="/styles/imgs/logo.png" ></a></h1>
      </div>
    </div>
  </div>
  <footer class="copyright">
    <p>Copyright &copy; 2017 Spotter. All Right Reserved.</p>
  </footer>
</body>

</html>